<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>

<body>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
			<%- include('../partials/nav'); %>
		</nav>

        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a>Productos</a></span></span> / <span>Queso Panela</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
						<div class="owl-carousel">
							<div class="item">
								<div class="product-entry border">
									<a href="#" class="prod-img">
										<img src="./Images/item-5.jpeg" class="img-fluid" alt="Productos Lacteos La Quinta 30 años de experiencia">
									</a>
								</div>
							</div>
							<div class="item">
								<div class="product-entry border">
									<a href="#" class="prod-img">
										<img src="./Images/item-5.jpeg" class="img-fluid" alt="Productos Lacteos La Quinta 30 años de experiencia">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Queso Panela</h3>
							<p class="price">
								<span>$50.00</span> 
								<span class="rate">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-alt"></i>
								</span>
							</p>
							<p>¡Disfruta de su gran sabor en tus platillos!</p>
							<p>- Ideal para el consumo de toda la familia.</p>
							<p>- Temperatura de conservación (refrigeración a 4°C máximo).</p>

							<div class="size-wrap">
								<div class="block-26 mb-2">
									<h4>Peso</h4>
				               <ul>
				                  <li><a href="#">200g</a></li>
				               </ul>
				            </div>
							</div>
                     
                  	<div class="row">
	                  	<div class="col-sm-12 text-center">
									<p class="addtocart">
									    <button class="btn btn-primary snipcart-add-item"
								        data-item-id="5"
								        data-item-price="50.00"
								        data-item-url="/paintings/starry-night"
								        data-item-description="Queso con gran textura y de gran calidad para hacer ricos platillos hecho con leche de vaca natural 100%, 70% de humedad para que este al día"
								        data-item-image="./Images/item-5.png"
								        data-item-name="Queso Panela"
								        data-item-custom1-name="Tamaño"
								        data-item-custom1-options="200 gr">
								        Agregar al Carrito $50.00
								        </button>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Recuadro -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Información nutricional</a>
								    </li>
								    <!--<li class="nav-item">
								      <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true"></a>
								    </li>-->
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Reseñas</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								    <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
								      <p>Información nutrimental por porción de 30 grs.</p>
										<ul>
											<p>Contenido energético  79Kcal</p>
											<p>Carbohidratos         min. 0.5g</p>
											<p>Proteínas             min. 5.7 g</p>
											<p>Lipidos               min. 6.9g</p>
											<p>Sodio                 min. 127 mg</p>
										</ul>
								    </div>

								    <!--<div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
								      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
										<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
								    </div>-->

									<div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
										<div class="row">
											 <div class="col-md-8">
												  <div>										   <!-- Button trigger modal -->
												  <button type="button" style="text-align:left" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
													  Agregar Reseña
												  </button>
												  </div>	
												  
												  <!-- Modal -->
												  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
													  <div class="modal-dialog" role="document">
													  <div class="modal-content">
														  <div class="modal-header">
														  <h5 class="modal-title" id="exampleModalLabel">Reseña</h5>
														  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
															  <span aria-hidden="true">&times;</span>
														  </button>
														  </div>
														  <!-- Form -->
														  <form action="../guardarResenaQuesoPanela" method="post" enctype="multipart/form-data">
															  <input id="prodId" name="prodId" type="hidden" value="Queso Panela">
															  <%- include('../partials/reseñas/form'); %>
														  </form>
													  </div>
													  </div>
												  </div>
												 <br>
												 <br>
													  <!-- Mostrar Reseñas -->
													  <%- include('../partials/reseñas/mostrarReseñas'); %>
											  </div>
										  </div>
									  </div>
								  </div>
								</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Button -->
	<%- include('../partials/Boton'); %>
</div>
<footer  id="colorlib-footer" role="contentinfo">
	<%- include('../partials/footer'); %>
  </footer>
  </div>
  <%- include('../partials/script'); %>
</body>
</html>