<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
  </head>

  <body>
    <div id="page">
      <nav class="colorlib-nav" role="navigation">
        <%- include('partials/nav'); %>
      </nav>
      
      <div class="breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="bread"><span><a href="/">Home</a></span> / <span>Recetas</span></p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">  

        <div class="container">
          <br><br>
        </div>

        <div class="breadcrumbs-two">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(./Images/img_bg_4.jpg);">
                  <h2 style="color: white;">Recetas</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <br><br><br>
        </div>

        <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="colorlib-featured">
          <div class="container">
            <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">  
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/1.png);">
                    <p><a href="/Receta1" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/3.png);">
                    <p><a href="/Receta2" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/4.png);">
                    <p><a href="/Receta3" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/12.png);">
                    <p><a href="/Receta4" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/5.png);">
                    <p><a href="/Receta5" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/6.png);">
                    <p><a href="/Receta6" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <!--
            <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/7.png);">
                    <p><a href="#" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/8.png);">
                    <p><a href="#" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/9.png);">
                    <p><a href="#" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/10.png);">
                    <p><a href="#" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/11.png);">
                    <p><a href="#" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="featured">
                  <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/12.png);">
                    <p><a href="#" class="btn btn-primary">Ver más</a></p>
                  </div>
                </div>
              </div>
            -->
              </div>
            
            </div>
          </div>
        </div>
        </div>
      </div>

      <footer id="colorlib-footer" role="contentinfo">
        <%- include('partials/footer'); %>
      </footer>
        <!-- Button -->
        <%- include('partials/Boton'); %>
    </div>
    <%- include('partials/script'); %>
  </body>
</html>
