<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>

<body>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
			<%- include('../partials/nav'); %>
		</nav>

        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a href="/Recetas">Recetas</a></span></span> / <span>Queso Oaxaca fundido con chorizo</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
                            <div class="featured">
                              <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/6.png);">
                              </div>
                            </div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Queso Oaxaca fundido con chorizo</h3>
                            <br>
							<p>(Rinde para 4 porciones)</p>
						</div>
					</div>
				</div>

				<!-- Recuadro -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Ingredientes</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Instrucciones de preparación</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								    <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
									  <p>- 500 gramos de chorizo mexicano.</p>
									  <p>- 2 tazas de queso Oaxaca.</p>
									  <p>- ½ kilo de tortillas de harina o de maíz.</p>										
								  </div>
								    
								  <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
									<p>1.- En una charola coloca unos recipientes pequeños de barro (especiales para hornos), ponerles mantequilla y un poco de media crema.</p>
									<p>2.- Después, agregar a cada uno de los recipientes queso Oaxaca.</p>
									<p>3.- En un sartén poner a freír el chorizo.</p>
									<p>4.- Previamente calentar el horno a 360 °c y meter los recipientes de 5 a 10 minutos para que se gratine el queso.</p>
									<p>5.- Sacarlo del horno y agregar el chorizo o algunos otros ingredientes como hongos, chile serrano, pimientos u otro vegetal.</p>																
								  </div>
							  </div>
							</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Button -->
	<%- include('../partials/Boton'); %>
</div>
<footer  id="colorlib-footer" role="contentinfo">
	<%- include('../partials/footer'); %>
  </footer>
  </div>
  <%- include('../partials/script'); %>
</body>
</html>