<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>

<body>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
			<%- include('../partials/nav'); %>
		</nav>

        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a href="/Recetas">Recetas</a></span></span> / <span>Flautas de pollo mexicanas con Queso Ranchero</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
                            <div class="featured">
                              <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/3.png);">
                              </div>
                            </div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Flautas de pollo mexicanas con Queso Ranchero</h3>
                            <br>
							<p>(Rinde para 4 porciones)</p>
						</div>
					</div>
				</div>

				<!-- Recuadro -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Ingredientes</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Instrucciones de preparación</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								    <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
									<p>- 500 kilogramos de tortillas de maíz.</p>
									<p>- 300 gamos de pollo cocido.</p>
									<p>- 100 gramos de lechuga.</p>
									<p>- 100 gramos de cebolla.</p>
									<p>- 100 gramos de crema ácida.</p>
									<p>- 100 gramos de queso ranchero.</p>
									<p>- 1 bote de salsa al gusto.</p>
									<p>- 1 litro de aceite vegetal.</p>										
								  </div>
								    
								  <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
									<p>1.- Calentar aceite en un sartén a fuego medio, pasar las tortillas de maíz brevemente por el aceite para que se ablanden.</p>
									<p>2.- Anadir a cada tortilla un poco de pollo y enrollar. Sujetar las flautas con un palillo para evitar que se desarmen.</p>
									<p>3.- En seguida, dorar las flautas de pollo en aceite y voltearlas cada dos minutos para que no se quemen.</p>
									<p>4.- Picar finamente los vegetales para las flautas.</p>
									<p>5.- Servir las flautas mexicanas mientras estén calientes. Este antojo mexicano se acompaña de lechuga, cebolla, crema, queso ranchero rallado y alguna sala al gusto.</p>																	
								  </div>
							  </div>
							</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Button -->
	<%- include('../partials/Boton'); %>
</div>
<footer  id="colorlib-footer" role="contentinfo">
	<%- include('../partials/footer'); %>
  </footer>
  </div>
  <%- include('../partials/script'); %>
</body>
</html>