<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>

<body>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
			<%- include('../partials/nav'); %>
		</nav>

        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a href="/Recetas">Recetas</a></span></span> / <span>Chilaquiles verdes con salda de chile habanero y queso ranchero</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
                            <div class="featured">
                              <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/5.png);">
                              </div>
                            </div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Chilaquiles verdes con salda de chile habanero y queso ranchero</h3>
                            <br>
							<p>(Rinde para 4 porciones)</p>
						</div>
					</div>
				</div>

				<!-- Recuadro -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Ingredientes</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Instrucciones de preparación</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								    <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
										<p>- 10 piezas de tomate verde.</p>
										<p>- ¼ de pieza de cebolla.</p>
										<p>- 1 diente de ajo.</p>
										<p>- 2 piezas de chile habanero.</p>
										<p>- 1 cubo de consomé de pollo.</p>
										<p>- 1 cucharada de aceite.</p>
										<p>- 2 tazas de totopos.</p>
										<p>- ¼ de pieza de cebolla morada fileteada.</p>
										<p>- ½ pieza de pechuga de pollo cocida y deshebrada.</p>
										<p>- 4 cucharadas de crema light.</p>
										<p>- 4 cucharadas de queso ranchero.</p>										
								  </div>
								    
								  <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
									<p>1.- Colocar los tomates, cebollar, ajo, chiles y agua en una cacerola y llevar a hervor. Cocinar por 15 minutos o hasta que los tomates estén suaves y cambien de color.</p>
									<p>2.-  Retirar los ingredientes de la cacerola (sin agua) y licuar por 3 minutos junto con el cubo de consomé de pollo hasta que no haya grumos grandes.</p>
									<p>3.- Calentar el aceite y sofreír la salsa durante 15 minutos a juego medio bajo moviendo lentamente.</p>
									<p>4.- Bañar los totopos con la salsa y servir con cebolla morada, pollo deshebrado y decorar con crema y queso ranchero.</p>																
								  </div>
							  </div>
							</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Button -->
	<%- include('../partials/Boton'); %>
</div>
<footer  id="colorlib-footer" role="contentinfo">
	<%- include('../partials/footer'); %>
  </footer>
  </div>
  <%- include('../partials/script'); %>
</body>
</html>