<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>

<body>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
			<%- include('../partials/nav'); %>
		</nav>

        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a href="/Recetas">Recetas</a></span></span> / <span>Ensalada con queso panela y manzana</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
                            <div class="featured">
                              <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/4.png);">
                              </div>
                            </div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Ensalada con queso panela y manzana</h3>
                            <br>
							<p>(Rinde para 4 porciones)</p>
						</div>
					</div>
				</div>

				<!-- Recuadro -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Ingredientes</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Instrucciones de preparación</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								  <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
									<p>- 1 lechuga.</p>
									<p>- 1 lata de maíz.</p>
									<p>- Pavo cortado a cuadritos.</p>
									<p>- 300 gramos de queso panela.</p>
									<p>- 1 huevo duro.</p>
									<p>- Tomate natural.</p>
									<p>- 1 naranja.</p>
									<p>- 1 manzana.</p>
									<p>- 2 latas de atún.</p>
									<p>- Aceite vegetal.</p>
									<p>- Sal.</p>
									<p>- Vinagre.</p>									
								  </div>
								    
								  <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
									<p>1.- Lavar todos los ingredientes, quitar las hojas feas de la lechuga, lavar y cortarla finamente. Lavar el tomate, cortarlo trinchado para ensalada y ponerlo sobre la lechuga.</p>
									<p>2.- Tener un huevo hirviendo para hacer huevo duro.</p>
									<p>3.- Abrir el maíz y el atún, escurrirlo y añadirlo a la ensalada. El atún se va desmenuzando con un tenedor.</p>
									<p>4.- Pelar la manzana y la naranja, hacerla pedacitos y añadirla a la ensalada.</p>
									<p>5.- Cortar las lonchas de pavo a cuadritos y añadirlos, hacer cubitos con el queso panela y añadirlos.</p>
									<p>6.- Sacar el huevo, cortarlo a pedacitos pequeños y agregarlos a la ensalada.</p>
									<p>7.- Aliñar al gusto y… ¡¡A disfrutar!!</p>									
								  </div>
							  </div>
							</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Button -->
	<%- include('../partials/Boton'); %>
</div>
<footer  id="colorlib-footer" role="contentinfo">
	<%- include('../partials/footer'); %>
  </footer>
  </div>
  <%- include('../partials/script'); %>
</body>
</html>