<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>

<body>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
			<%- include('../partials/nav'); %>
		</nav>

        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a href="/Recetas">Recetas</a></span></span> / <span>Pechugas Cordon Blue con queso Oaxaca </span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
                            <div class="featured">
                              <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/12.png);">
                              </div>
                            </div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Pechugas Cordon Blue con queso Oaxaca </h3>
                            <br>
							<p>(Rinde para 4 porciones)</p>
						</div>
					</div>
				</div>

				<!-- Recuadro -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Ingredientes</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Instrucciones de preparación</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								    <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
									<p>- 1 kilogramo de pechuga de pollo.</p>
									<p>- 1 diente de ajo.</p>
									<p>- 1 pizca de orégano picado.</p>
									<p>- 1 unidad de limón</p>
									<p>- 1 paquete de tocineta.</p>
									<p>- 1 lata de leche evaporada.</p>
									<p>- 1 unidad de cubo de caldo de pollo.</p>
									<p>- 250 kilogramos de queso Oaxaca.</p>
									<p>- 1 pizca de sazón en polvo.</p>
									<p>- 1 paquete de pan rallado.</p>
									<p>- 2 unidades de huevo.</p>
									<p>- 1 botella de aceite vegetal.</p>										
								  </div>
								    
								  <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
									<p>1.- Para realizar esta receta de pollo a la cordon blue se debe cortar las pechugas en filetes no muy gruesos, lavarlas bien con limón y aderezarlas con ajo picado, orégano molido y la sazón en polvo. Luego, estíralas todas sobre la superficie de trabajo.</p>
									<p>2.- Colocar una loncha de tocineta o jamón sobre cada pechuga y encima queso Oaxaca. Enrollar con cuidado para que no se salgan las lonchas y pinchar cada uno ce los enrollados con un palillo para sujetarlos y mantenerlos cerrados.</p>
									<p>3.- Coger un recipiente aparte y batir los huevos. En otro recipiente, colocar un poco de pan rallado, hecho eso, pasar cada uno de las pechugas de pollo rellenas, primero por el huevo batido y luego por el pan para rebozarlas. Después, poner aceite a calentar en un sartén y freír todas las pechugas.</p>
									<p>4.- En otro sartén aparte, poner a calentar mantequilla, cuando se funda, agregar la leche evaporada, un poco de agua, un cubo de caldo de pollo y queso, quedar que se cocine y revolver para que se integren bien todos los ingredientes.</p>
									<p>5.- Cuando la sala se encuentre lista, colocar todo el pollo relleno en un recipiente apto para horno y verter la salsa sobre ellas. Hornear las pechugas a la cordon blue durante 30 minutos a 170 °c. Vigilarlas para que no se quemen, puesto que en función de la potencia del horno puede que tarden menos en hacerse.</p>											
								  </div>
							  </div>
							</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Button -->
	<%- include('../partials/Boton'); %>
</div>
<footer  id="colorlib-footer" role="contentinfo">
	<%- include('../partials/footer'); %>
  </footer>
  </div>
  <%- include('../partials/script'); %>
</body>
</html>