<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>

<body>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
			<%- include('../partials/nav'); %>
		</nav>

        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a href="/Recetas">Recetas</a></span></span> / <span>Tostones de plátano macho y queso ranchero</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
                            <div class="featured">
                              <div class="featured-img featured-img-2" style="background-image: url(./Images/recetas/mini/1.png);">
                              </div>
                            </div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Tostones de plátano macho y queso ranchero.</h3>
                            <br>
							<p>(Rinde para 4 porciones)</p>
						</div>
					</div>
				</div>

				<!-- Recuadro -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Ingredientes</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Instrucciones de preparación</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								    <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
									<p> - 8 pzas de plátano en su punto (ni verde ni sobre madurado).</p>
									<p> - 200 gr queso ranchero.</p>
									<p> - 1 huevo.</p>
									<p> - 50 gr pan seco molido.</p>
									<p> - Aceite vegetal.</p>
								  </div>
								    
								  <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
									<p>1.- Poner los plátanos con cascara en el comal a fuego bajo por 8 – 10 minutos girándolos constantemente para evitar que se quemen.</p>
									<p>2.- Una vez que estén blandos (cocinados por dentro) retirarlos del comal, quitarles la cascara y hacer un puré aplastándolos.</p>
									<p>3.- Desmoronar el queso sobre el puré, agregar el huevo, pan y hacer una mezcla homogénea.</p>
									<p>4.- Pre calentar en un sartén y formar el puré en forma de tortitas de 80 gr aproximadamente.</p>
									<p>5.- Cocinar las tortitas en el aceite hasta que se forme una capa crujiente en la superficie y retirar.</p>
									<p>6.- Servir 2 pzas por porción y acompañar con una ensalada fresca.</p>									
								  </div>
							  </div>
							</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Button -->
	<%- include('../partials/Boton'); %>
</div>
<footer  id="colorlib-footer" role="contentinfo">
	<%- include('../partials/footer'); %>
  </footer>
  </div>
  <%- include('../partials/script'); %>
</body>
</html>